*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    min-height: 100vh;
    background-image:url("https://e1.pxfuel.com/desktop-wallpaper/851/388/desktop-wallpaper-hardware-electric-computer-repair-for.jpg ") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about-1{
    margin: 30px;
    padding: 5px;

}
.about-1 h1{
    
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    background: var(--gradient-2, linear-gradient(129deg, #22B5BE 0%, #6743CC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    display: inline-block;
    text-align: center;
    animation: moveLeftRight 5s ease forwards;
    
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: white;
    
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #6743CC;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .6);
    border-radius: 9px;
}
.fa{
    font-size: 35px;
    margin: 10px;

}
.about-item h3{
    color: antiquewhite;
    font-size: 23px;
    margin-bottom: 10px;
   
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #22B5BE;
    margin: 0 auto;
    border: none;

}
.about-item p{
    margin-top: 20px;

}
.about-item:hover{
    background-color: #22B5BE;

}