/* jobsTechnical.css */

.titleJobsTable {
   
    font-size: 2.5rem;
    font-weight: bolder;
    background: var(--gradient-2, linear-gradient(129deg, #22B5BE 0%, #6743CC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveLeftRight 5s ease forwards;

}

html,
body,
.intro {
    height: 100%;
}

table {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table th,
table td {
    border: none;
    outline: none;
}

.cardBodyJobs {
    padding: 0.5rem;
}

.tableJobsItems {
    border: none;
    outline: none;
    margin-bottom: 1rem;
    font-weight: bold;
    background: var(--gradient-2, linear-gradient(129deg, #2cd7e0 0%, #6743CC 100%));
   
}

.tableJobsHeader {
    margin-bottom: 1rem;
    border-image: linear-gradient(to right, #D04E8D, #6D2CBF);
    border-image-slice: 1;
    background-color: transparent;
    color: white;
}

thead {
    top: 0;
    position: sticky;
}

.cell-size-technical-jobs {
    width: 16.66%;
}

.jobsTechnicalButtons {
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
}

.jobsTechnicalCard {
    background-color: transparent;
    font-weight: bold;
}

.modal-dialog {
    padding: 1rem;
    font-weight: bold;
    color: white;
}

.jobsTechnicalModalContent {
    background: #1C1C1C !important;
    border-image: linear-gradient(to right, #D04E8D, #6D2CBF);
    border-image-slice: 1;
}

.formTechnicalModalJobs {
    border-image: linear-gradient(to right, #D04E8D, #6D2CBF);
    border-image-slice: 1;
    border-radius: 0;
}

.modal-label-input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.option-job-modal {
    background: #1C1C1C;
    color: white;
}

.select_job-modal {
    border-radius: 0;
}

.readonly {
    background-color: #1C1C1C !important;
    color: white;
}

